<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>insert</title>
</head>
<body>
<fieldset>
		<legend>添加用户信息</legend>
	<form action="insert" method="post">
	<table>
		<td>  id: </td><td><input type="text" name="id" /></td>
		<td>name: </td><td><input type="text" name="name" /></td>
		 <td>age: </td><td><input type="text" name="age" /></td>
		
		<p><input type="submit" value="提交" /></p>
		</table>
	</form>
	</fieldset>
</body>
<script src="js/jquery-3.3.1.js"></script>
<style type="text/css">
fieldset {
	width: 500px;
	height: 250px;
	margin: 100px auto;
	padding: 20px;
}
</style>
</html>