<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<fieldset>
		<legend>编辑用户信息</legend>
	<form  modelAttribute="dto" th:object="${user}" th:action="@{/table}" method="get" >
		<table>
		
		
		<td><input th:field="*{id}" id="idInput" th:value="${user.id}" type="hidden"></input></td>
		
		<td><label for="nameInput">Name:</label></td>
		<td><input th:field="*{name}" id="nameInput" th:value="${user.name}"></input></td>
		
		<td><label for="ageInput">Age:</label></td>
		<td><input th:field="*{age}" id="birthInput" th:value="${user.age}"></input></td>
		
		
		<input type="submit" th:value="Submit"/>
		</table>
	</form>
	</fieldset>
</body>
<script src="js/jquery-3.3.1.js"></script>
<style type="text/css">
fieldset {
	width: 500px;
	height: 250px;
	margin: 100px auto;
	padding: 20px;
}
</style>
</html>